/* Configuración básica - base.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg?cs=srgb&dl=pexels-frank-cone-140140-3214110.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #1a1b1e;
    color: white;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #1a1b1e;
    border-right: 1px solid #4f4f4f;
    transition: transform 0.3s ease;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo {
    padding: 1rem;
    border-bottom: 1px solid #4f4f4f;
    text-align: center;
}

.logo img {
    width: 120px;
    height: auto;
}

/* Menú de navegación */
.nav-menu {
    padding: 1rem 0;
    border-bottom: 1px solid #4f4f4f;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: #e1e1e1;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

.nav-item:hover {
    background-color: #17171a;
}

.nav-item.active {
    background-color: #17171a;
    border-bottom: 1px solid #4f4f4f;
    border-top: 1px solid #4f4f4f;
}

.nav-item.active span.span-text {
    color: #b8db6b;
}

.nav-item .material-icons {
    margin-right: 1rem;
}

/* Contenido principal */
.main-content {
    margin-left: 250px;
    padding: 2rem;
    color: white;
}

/* Footer */
.site-footer {
    background-color: #1a1b1e80;
    padding: 1.5rem;
    margin-top: 3rem;
    position: relative;
    bottom: 0;
    height: 120px;
    margin-left: 250px;
    border-top: 1px solid #4f4f4f;
}

.site-footer p {
    color: white;
}

.site-footer-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
}

.site-footer-logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Configuración principal - principal.html */

/* Div principal */
.div-main-home {
    width: 100%;
    height: auto;
    background-color: #1a1b1e80;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
}

/* Logo */
.logo-home {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-bottom: 1px solid #4f4f4f;
    text-align: center;
    margin: 3rem 0rem;
    padding-bottom: 1rem;
}

.logo-home img {
    width: 200px;
    height: auto;
}

/* Contenido */
.div-main-home p {
    width: 100%;
    max-width: 800px;
    text-align: justify;
}

.div-main-home h4 {
    font-weight: bold;
}

.div-main-home h4.h4-distinct {
    color: #b8db6b;
}

/* Enlaces de interés */
.interests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding-bottom: 3rem;
}

.interests-card {
    background-color: #4f4f4f;
    border: 2px solid #b8db6b;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    max-height: 150px;
    transition: transform 0.3s ease-in-out;
}

.interests-card a {
    color: white;
    text-decoration: none;
}

.interests-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.interests-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.interests-card p {
    max-width: 250px;
}

.padding-right-2rem {
    padding-right: 2rem;
}