{% extends 'app_proyecto/base.html' %}
{% block titulo %}Enciclopedia{% endblock %}

{% block contenido %}
<div class="div-main-home">
    <br><br>
    <!-- Grid secciones -->
    <div class="enciclopedia-grid">
        <div class="enciclopedia-card">
            <a href="#">
                <div class="float-left padding-right-2rem">
                    <img src="https://enka.network/favicon.png" alt="Enka Network" class="enciclopedia-logo">
                </div>
                <div class="float-right">
                    <h3>Afiliaciones</h3>
                </div>
            </a>
        </div>
    </div>
    <br><br>
    <div class="enciclopedia-grid">
        <div class="enciclopedia-card">
            <a href="#">
                <div class="float-left padding-right-2rem">
                    <img src="https://enka.network/favicon.png" alt="Enka Network" class="enciclopedia-logo">
                </div>
                <div class="float-right">
                    <h3>Vías</h3>
                </div>
            </a>
        </div>
    </div>
    <br><br>
    <div class="enciclopedia-grid">
        <div class="enciclopedia-card">
            <a href="#">
                <div class="float-left padding-right-2rem">
                    <img src="https://enka.network/favicon.png" alt="Enka Network" class="enciclopedia-logo">
                </div>
                <div class="float-right">
                    <h3>Enemigos</h3>
                </div>
            </a>
        </div>
    </div>
    <br><br>
    <div class="enciclopedia-grid">
        <div class="enciclopedia-card">
            <a href="#">
                <div class="float-left padding-right-2rem">
                    <img src="https://enka.network/favicon.png" alt="Enka Network" class="enciclopedia-logo">
                </div>
                <div class="float-right">
                    <h3>Mapas</h3>
                </div>
            </a>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}