{% extends 'app_proyecto/base.html' %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    <!-- Div Principal -->
    <div class="div-main-home">
        <!-- Logo -->
        <div class="logo-home">
            <img src="https://upload-static.hoyoverse.com/hoyowiki/2023/02/21/344921a7cc1bf85cb6d0dcc20d0affad_1019092597011251431.png" alt="Logo">
        </div>
        <!-- Texto Inicio -->
        <h4>¡Bienvenido a <em>Star Rail Hub</em>!</h4>
        <br>
        <p><em>Star Rail Hub</em> es una plataforma dedicada a proporcionar información detallada sobre el universo de Star Rail. Aquí encontrarás una 
            base de datos completa con perfiles de personajes, armas, equipamiento y materiales, así como una enciclopedia que abarca enemigos, 
            mapas y otros aspectos clave del juego.</p>
        <p>Nuestro objetivo es ofrecer a los jugadores un recurso confiable y actualizado, facilitando el acceso a datos relevantes para 
            optimizar su experiencia en el juego. Tanto si eres un jugador nuevo como un experimentado explorador, en <em>Star Rail Hub</em> encontrarás 
            las herramientas necesarias para profundizar en cada aspecto del juego de manera clara y organizada.</p>
        <br>
        <!-- Enlaces de interés -->
        <h4 class="h4-distinct">Enlaces de interés</h4>
        <br>
        <!-- Grid enlaces -->
        <div class="interests-grid">
            
            <div class="interests-card">
                <a href="https://enka.network">
                    <div class="float-left padding-right-2rem">
                        <img src="https://enka.network/favicon.png" alt="Enka Network" class="interests-logo">
                    </div>
                    <div class="float-right">
                        <h3>Enka Network</h3>
                        <p>Web donde podrás compartir las builds de tus personajes</p>
                    </div>
                </a>
            </div>
            <!-- + elementos -->
        </div>
    </div>
{% endblock %}