{% extends 'app_proyecto/base.html' %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    <!-- Div Principal -->
    <div class="div-main-home">
        <!-- Logo -->
        <div class="logo-home">
            <img src="https://upload-static.hoyoverse.com/hoyowiki/2023/02/21/344921a7cc1bf85cb6d0dcc20d0affad_1019092597011251431.png" alt="Logo">
        </div>
        <!-- Texto Inicio -->
        <h4>¡Bienvenido a &lt;nombre&gt;!</h4>
        <p>&lt;nombre&gt; es una página dedicada a los jugadores, queremos que estos puedan encontrar información relacionada con el mundo de "asdasdasd". BLA BLA BLA BLA BLA</p>
    </div>
    
{% endblock %}